.circle-img {
    border-radius: 50%;
    border: 7px solid;
    width: 200px;
    height: 200px;
  
    /* color:rgba(214, 37, 37, 0.2); */
  
  }
  .circle2-img {
    border-radius: 50%;
    border: 7px solid #75be35;
    width: 400px;
    height: 400px;
  
  }

  .nav2a{
    display:flex;
    width:100%;
    background-color: blueviolet;
  }
  .nav2{
    display:flex;
    width:100%;
  }
  .Nav2Text{
    display:flex;
  }
  


  .column {
    float: left;
    width: 50%;
    padding:30px 30px 30px 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20),
                1px 2px 2px rgba(0, 0, 0, 0.20),
                1px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    /* background: #ffffff; */
    background: rgba(255, 255, 255, 0.6);

   

    width: 100%;
    
   
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .abc{
  padding:30px 10px 0px 10px;
  /* height:100px; */
  }

  .mainImage{
    padding:0px 0px 0px 200px;
  }
  .practice{
    text-align: center;
 
  
  }

  

  .disease{
    text-align: center;
    
  }
  
.second{
  background-image:url('images/bg.jpg');
        background-size:100% 100%;
        padding: 0px 70px 0px 70px;
        /* width: 3000px; */
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.third{
  background-image:url('images/esh.png');

        background-size:100% 100%;
        

}
.meditation{
  background-image:url('images/bgmadi.jpg');
  

        background-size:100% 100%;
        height:900px;
        

}

.video1{
  background-image:url('images/bgLeaf.png');
        background-size:100% 100%;
        height:900px;
}
.video2{
  background-image:url('images/bgLeaf.png');
        background-size:100% 100%;
        height:900px;
}
.video3{
  background-image:url('images/bgLeaf.png');
        background-size:100% 100%;
        height:900px;
}



.level1{
  background-image:url('images/stairs1.png');
  background-size:100% 100%;
   
}
.level2{
  background-image:url('images/stairs2.png');
  background-size:100% 100%;
   
}



.v{
  
    background-image:url('images/bgLeaf.png');
          background-size:100% 100%;
          height:800px;
          padding:273px 0px 70px 533px;
      
  
}


.app{
  height: 100px;
}


.contactbox{
  background-image:url('images/contactUs.jpg');
        background-size:100% 100%;
        width:20000px;
      
       
}

.contactbox{ 
  height: 800px;
  width: 1895px;
}
.Heading{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bolder;
  font-size: 50px;
}

.Heading1{
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter;
  font-size: 30px;
}
.Heading2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:lighter;
  font-size: 20px;
}
.c1{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:larger;
}
.map{
  float:left;
 
  margin-right:10px;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



article h1 {
  margin: 1rem 0;
}

.container1 {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;

  
}
.Healer{
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}

button {
  display: inline-block;
  background-color: #197e1e;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
}

