.navigation2 {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color:#3d4945 ;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }

  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .navigation-menu2 {
    margin-left: auto;
    padding-top: 15px;
    padding-right: 680px;
  }

  .navigation-menu2 ul {
    display: flex;
    padding: 0;
    font-size:20px;
  }
  .navigation-menu2 li {
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu2 li a {
    text-decoration: none;
    display: block;
    width: 100%; 
    color:#FFFFFF;
  }